name: Create Dev Branch Agent

on:
  workflow_call: # Makes this workflow reusable
    inputs:
      branch_desc:
        description: "Description of the branch"
        required: true
        type: string
      locale:
        description: "Locale for the agent"
        required: true
        type: string
      bot_name:
        description: "Name of the bot"
        required: true
        type: string
      cognigy_base_url_dev:
        description: "Cognigy Base URL for development"
        required: true
        type: string
      max_snapshots:
        description: "Maximum number of snapshots"
        required: true
        type: string
    secrets:
      COGNIGY_API_KEY_DEV: # Define required secrets for the reusable workflow
        required: true

jobs:
  run-create-dev-branch-agent:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute create_dev_branch_agent.py
        env:
            BOT_NAME: ${{ inputs.bot_name }}
            COGNIGY_BASE_URL_DEV: ${{ inputs.cognigy_base_url_dev }}
            COGNIGY_API_KEY_DEV: ${{ secrets.COGNIGY_API_KEY_DEV }}
            MAX_SNAPSHOTS: ${{ inputs.max_snapshots }}
            BRANCH_DESC: ${{ inputs.branch_desc }}
            LOCALE: ${{ inputs.locale }}
            PYTHONUNBUFFERED: '1'
        run: |
          python helper_files/create_dev_branch_agent.py